venv
ny_taxi_postgres_data
output.csv
output.parquet
pipeline.py
.ipynb_checkpoints
yellow_tripdata_2024_01.csv
yellow_tripdata_2024_01.parquet
terraform/terraform.tfstate.backup
terraform/terraform.tfstate
terraform/.terraform